{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-dark ">
    <div class="form-article container py-4">           
        <div class="">
            <h1 class="text-center white">Rédiger un article</h1>
        </div>
        {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('info') %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {{ form_start(form) }}
            {{ form_row(form.title, { 'label': 'Titre : ' }) }}
            <div class="small-input">
            {{ form_row(form.category, { 'label': 'Sport : ' }) }}
            </div>
            {{ form_row(form.picture) }}
            {{ form_row(form.description, { 'label': "Description : " }) }}
            {{ form_row(form.content, { 'label': "Contenu de l'article : " }) }}
        {{ form_end(form) }}      
    </div>
</div>
    
{% endblock %}
