{% extends 'base.html.twig' %}
{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/forms.css')}}">
{% endblock %}

{% block body %}
    <div class="form-article m-5 ">           
        <div class="pb-2">
            <h1>Rédiger un article</h1>
        </div>
        {{ form_start(form) }}
            {{ form_row(form.title, { 'label': 'Titre : ' }) }}
            <div class="small-input">
            {{ form_row(form.category, { 'label': 'Sport : ' }) }}
            </div>
            <div class="small-input">
            {{ form_row(form.picture) }}
            </div>
            {{ form_row(form.description, { 'label': "Description : " }) }}
            {{ form_row(form.content, { 'label': "Contenu de l'article : " }) }}
        {{ form_end(form) }}      
    </div>
    
{% endblock %}
