{% extends 'base.html.twig' %}

{% block body %}
<div class="my-articles container-fluid">
	<h1 class="text-center py-3">Tous les articles </h1>
	<form id="form-select" class="row d-flex align-items-center bg-warning pt-3 pb-3">
        <div class="col-xl-3 col-12">
        	<label>Auteur :</label>
        	<select name="author" id="filter-users">
              <option value ="">Tous</option>
              <option disabled >ADMINISTRATEURS</option>
              {% for admin in admins %}
        	    <option value="{{admin.id}}">{{admin.id}}. {{admin.fullname}}</option>
              {% endfor %}
              <option disabled >AUTEURS</option>
              {% for author in authors %}
        	    <option value="{{author.id}}">{{author.id}}. {{author.fullname}}</option>
              {% endfor %}
        	</select>
        </div>
        <div class="col-xl-3 col-12">
            <label>Trier par :</label>
	        <select name="order" id="tri-select" >
	            <option value="created_At,DESC">les plus récent</option>
	            <option value="created_At,ASC">les plus anciens </option>
	            <option value="rate,DESC">les mieux notés</option>
	            <option value="rate,ASC">les moins bien notés</option>
                <option value="views,DESC">les plus lus</option>
	            <option value="views,ASC">les moins lus</option>
	            <option value="category,DESC">sport</option>
	        </select>
        </div>
		<div class="col-xl-4 col-12">
        	<label>Rechercher : </label>
        	<input id="search" name="search" type="text"></input>
		</div>
		<div class="col-xl-2 col-12">
        	{% if numberPages is defined and numberPages > 1 %}
			<div id="form-page">
				<label>Page : </label>
				<select name="page" id="page">
					{% for i in 1.. numberPages %}
						{% if i == page %}
						<option  selected >{{i}}</option>
						{% else %}
						<option value={{i}}>{{i}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
			{% endif %}
		</div>
	</form>
    <div id="content">    
    {% include 'content/all-articles.html.twig' %}
    </div>
</div>	
{% endblock %}

{% block javascripts %}

    <script> 
        $("document").ready(()=>{
        
            let selectInput = document.getElementById("filter-users");
            let form = document.getElementById("form-select");
            let selectInputs = document.querySelectorAll("#form-select select");
            let searchInput = document.getElementById("search");
            let pageInput = document.getElementById("page");
            let formPage = document.getElementById("form-page");

            function ajaxToFilter(){
                const formData = new FormData(form)
                //queryString
                const param = new URLSearchParams();
                formData.forEach((value, key) => {
                    param.append(key, value)
                })
                let url = new URL(window.location.origin)
                url = url + "request-ajax-listing-all-articles?"+param.toString();
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(data){
                        const content = document.querySelector("#content");
                        content.innerHTML = data.content[0];
                        let page  = data.content["page"]
                        if(page > 1){
                            formPage.hidden = false;
                        } else{
                            pageInput.selectedIndex = 0;
                            formPage.hidden = true;
                        }

                    },
                })
            }
            selectInputs.forEach(input => { 
                input.addEventListener("change", ()=>{
                    ajaxToFilter();
                })
            });
            searchInput.addEventListener("keyup", ()=>{
                ajaxToFilter();
            })
            form.addEventListener("submit", (e)=>{
                e.preventDefault();
            })
        })

        $('.button-delete').click(function() {
          $('#modal-logout'+this.getAttribute("data-id")).modal('show');
        })

        $(".close-modal").click(function(){
          $('.modal').modal('hide');
        })
    </script>
{% endblock %}