{% extends 'base.html.twig' %}
{% block javascripts %}
 {{ encore_entry_script_tags('filter_articles') }}
{% endblock %}

{% block body %}

<div class="my-articles container-fluid">
	<h1>Les Articles </h1>

	<form id="form-select" >
	<label>Auteur :</label>
	<select name="author" id="filter-users">
        <option value ="">Tous</option>
        <option disabled >ADMINISTRATEURS</option>
        {% for admin in admins %}
	    <option value="{{admin.id}}">{{admin.id}}. {{admin.fullname}}</option>
        {% endfor %}
        <option disabled >AUTEURS</option>
        {% for author in authors %}
	    <option value="{{author.id}}">{{author.id}}. {{author.fullname}}</option>
        {% endfor %}
	</select>
  <label>Trier :</label>
	<select name="order" id="tri-select" >
	    <option value="created_At,DESC">les plus récent</option>
	    <option value="created_At,ASC">Les plus anciens </option>
	    <option value="rate,DESC">Les mieux notés</option>
	    <option value="rate,ASC">Les moins bien notés</option>
      <option value="views,DESC">Les plus lus</option>
	    <option value="views,ASC">Les moins lus</option>
	    <option value="category,DESC">Par sport</option>
	</select>
	</form>


	<div class="row pt-3 pb-2" >
        <div class="col-lg-2 col-6 text-center" > 
          Titre
        </div>
        <div class="col-lg-1 d-none d-lg-block offset-lg-1 text-center">
          Catégorie
        </div>

        <div class="col-lg-2 d-none d-lg-block offset-lg-1 text-center">
          Date
        </div>
        <div class="col-lg-1 d-none d-lg-block  text-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg>
        </div>
        <div class="col-lg-1 d-none d-lg-block  text-center">
          Note
        </div>
        <div class="col-lg-2 col-3  text-center">
          Editer
        </div>
        <div class="col-lg-1 col-3  d-flex justify-content-center  text-center">
        Supprimer
        </div>
	</div>
	<hr/>    
    <div id="content">    
    {% include 'content/mesarticles.html.twig' %}
    </div>
</div>	
{% endblock %}