{% extends 'base.html.twig' %}

{% block body %}
<div>
    <ul class="nav nav-tabs my-4 ml-2" >
     	<li class="nav-item">
     	  	<a class="nav-link {{ (role == "user") ? 'active' : '' }}" aria-current="page"  href="{{path("app_admin", {role : "user", page : 1})}}">Utilisateurs</a>
     	</li>
     	<li class="nav-item mx-2">
     	  	<a class="nav-link {{ (role == "author") ? 'active' : '' }}" href="{{path("app_admin", {role : "author", page : 1})}}">Auteurs</a>
     	</li>
     	<li class="nav-item">
     	  	<a class="nav-link {{ (role == "admin") ? 'active' : '' }}" href="{{path("app_admin", {role : "admin", page : 1})}}">Administrateurs</a>
     	</li>
    </ul >

	<div class="container-fluid mt-3">
	{% if role == "user" %}
      	<div class="row" >
      	  	<div class="col-lg-3 col-4  justify-center" > 
      	  	  Nom
      	  	</div>
      	  	<div class="col-4 d-none d-lg-flex justify-center">
      	  	  Email
      	  	</div>
      	  	<div class="col-3 col-lg-2 offset-5 offset-lg-3 justify-center">
      	  	  Supprimer
      	  	</div>
      	</div>
		<hr/>
    
		{% for user in users %}
		<div class="row" >
	        <div class="col-4 col-lg-3 justify-center" > 
	          	<p>{{user.fullname}}</p>
	        </div>
	        <div class="col-4 d-none d-lg-flex justify-center">
	          	<i>{{user.email}}</i>
	        </div>
	        <div class="col-5 col-lg-3 justify-center">
	        	<a href="{{path("make_author", {user : user.id})}}"class="upgrade"><button class="btn btn-success">Upgrade</button></a>
	        </div>
	        <div class="col-3 col-lg-2 justify-center">
	        	<a href="{{path("remove_user", {user : user.id, role : role})}}" class="trash">
	        		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
	        		<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
	        		</svg>
	        	</a>
	        </div>
	    </div>
		<hr/>
		{% endfor %}
	{% endif %}

	{% if role == "author" %}
	  		<div class="row">
  			<div class="col-3 justify-center"> 
  			  Nom
  			</div>
  			<div class="col-3 d-none d-lg-flex justify-center">
  			  Email
  			</div>
  			<div class="col-1 d-none d-lg-flex justify-center">
  			  Publications
  			</div>
  			<div class="col-3 col-lg-1  offset-6 offset-lg-4 justify-center">
  			Supprimer
  			</div>
  		</div>
		<hr/>
    
		{% for user in users %}
    	<div class="row" >
    		<div class="col-3 justify-center" > 
    		  	<b>{{user.fullname}}</b>
    		</div>
    		<div class="col-3 d-none d-lg-flex justify-center">
    		 	<i>{{user.email}}</i>
    		</div>
    		<div class="col-1 d-none d-lg-flex justify-center" >
    		  	<p>{{ nbPost(user.id, posts) }}<p>
    		</div>

    		<div class=" col-3 col-lg-2 justify-center">
    			<a href="{{path("make_admin", {user : user.id})}}"class="upgrade"><button class="btn btn-success">Upgrade</button></a>
    		</div>
    		<div class="col-3 col-lg-2 justify-center">
    			<a href="{{path("make_user", {user : user.id})}}"class="upgrade"><button class="btn btn-danger">Downgrade</button></a>
    		</div>
    		<div class="col-3 col-lg-1 justify-center">
    			<a href="{{path("remove_user", {user : user.id, role : role})}}" class="trash">
    			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
    			<path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
    			</svg>
    			</a>
    		</div>
    	</div>
    	<hr/>
		{% endfor %}
	{% endif %}
	{% if role == "admin" %}
	    	<div class="row" >
    	  	<div class="col-9 col-sm-4 justify-center" > 
    	  	  Nom
    	  	</div>
    	  	<div class="col-5 justify-center d-none d-sm-flex">
    	  	  Email
    	  	</div>
    	  	<div class="col-3 justify-center">
    	  	  Publications
    	  	</div>
    	</div>
		<hr/>

	{% for user in users %}
		<div class="row">
		 	<div class="col-sm-4 col-9 justify-center" > 
		 	  <b>{{user.fullname}}</b>
		 	</div>
		 	<div class="col-5 justify-center d-none d-sm-flex">
		 	  {{user.email}}
		 	</div>
		 	<div class="col-3 justify-center">
		 	  {{ nbPost(user.id, posts) }}
		 	</div>
		</div>
		<hr/>
		{% endfor %}
	{% endif %}
	
	<div class="d-flex justify-content-center my-4">
	{% if numberPage > 1 %}
		{% for i in 1.. numberPage %}
			{% if i == page %}
    			<a class="pl-3" disabled >{{i}}</a>
			{% else %}
    			<a class="pl-3" href="{{path('app_admin', {role : 'user', page : i})}}" >{{i}}</a>
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>
</div>
{% endblock %}