<div class="sub-header px-2 px-lg-4 py-1 d-none d-sm-flex">
    <div>
        <a href="{{path('app_sport', {sport : "actualité"})}}">
        Actualité
        </a>
    </div>
    <div>
        <a href="{{path('app_sport', {sport : "football"})}}">
        Football
        </a>
    </div>
    <div>
        <a href="{{path('app_sport', {sport : "rugby"})}}">
        Rugby
        </a>
    </div>
    <div>
        <a href="{{path('app_sport', {sport : "basketball"})}}">
        Basketball
        </a>
    </div>
    <div>
        <a href="{{path('app_sport', {sport : "tennis"})}}">
        Tennis
        </a>
    </div>
    <div>
        <a href="{{path('app_sport', {sport : "cyclisme"})}}">
        Cyclisme
        </a>
    </div>
    <div>
        <a href="{{path('app_sport', {sport : "autres"})}}">
        Autres
        </a>
    </div>

</div>