{% extends 'base.html.twig' %}

  {% block stylesheets %}

  <link rel="stylesheet" href="{{ asset('css/admin.css')}}">
  {% endblock %}


{% block body %}

<div>
	<ul class="nav nav-tabs mt-2 ml-2">
	  	<li class="nav-item">
	  	  	<a class="nav-link"  aria-current="page" href="{{path("app_admin", {role : "user"})}}">Utilisateurs</a>
	  	</li>
	  	<li class="nav-item mx-2">
	  	  	<a class="nav-link"   href="{{path("app_admin", {role : "author"})}}">Auteurs</a>
	  	</li>
	  	<li class="nav-item">
	  	  	<a class="nav-link active"  href="{{path("app_admin", {role : "admin"})}}">Administrateurs</a>
	  	</li>
	</ul>
	    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}
	<div class="container-fluid mt-3">
    	<div class="row" >
    	  	<div class="col-9 col-sm-4 justify-center" > 
    	  	  Nom
    	  	</div>
    	  	<div class="col-5 justify-center d-none d-sm-flex">
    	  	  Email
    	  	</div>
    	  	<div class="col-3 justify-center">
    	  	  Publications
    	  	</div>
    	</div>
		<hr/>

	{% for user in users %}
		<div class="row">
		 	<div class="col-sm-4 col-9 justify-center" > 
		 	  <b>{{user.fullname}}</b>
		 	</div>
		 	<div class="col-5 justify-center d-none d-sm-flex">
		 	  {{user.email}}
		 	</div>
		 	<div class="col-3 justify-center">
		 	  {{ nbPost(user.id, posts) }}
		 	</div>
		</div>
		<hr/>
	{% endfor %}
	</div>
</div>
  {% endblock %}