{% extends 'base.html.twig' %}
{% block javascripts %}
 {{ encore_entry_script_tags('add_views') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div id='data-article' data-article="{{article.id}}">
        <h1 class="text-center py-4" >{{article.title}}</h1>
        <div class="justify-center mb-5">
            <img  class="image400 border10" src="{{asset('Upload/'~article.picture)}}"></img>
        </div>  
        <div class="px-lg-4">Ecrit par {{article.user.fullname}} le {{article.createdAt|date("d/m/Y") }} à {{article.createdAt|date("G:i") }} </div>  
        {% if average %}
        <div class="d-flex align-items-center px-lg-4">
            {{average|round(2,"ceil")}}
            <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi gold bi-star-fill" viewBox="0 0 16 16">
                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
            </svg>
        </div>
        {% endif %}     
        <h2 class="text-center h2-grey my-2 ">{{article.description}}</h2>
        <div class=" article-content p-lg-4">{{article.content | raw}}</div>

        <div class="pb-5">
        {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% if stars %}
        <div id="data" data-post={{article.id}}></div>
        <div id="my-rating"></div>
        {% endif %}
        <h3 class="pt-5">Commentaires</h3>
        {{ form(form) }}
        {% for comment in comments %}
        <div class="comment-box">
            {% if comment.author.id == app.user.id %}
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="bold">{{comment.author.fullname}}</div>
                    <div class="grey">~ {{comment.date|date("G:i d/m/Y ") }}</div> 
                </div>
                <div>
                    <a href="{{path("delete_comment", {id : comment.id})}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor" class="bi bi-trash3-fill red" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg>
                    </a>
                </div>
            </div>
            {% else %}    
                <div class="d-flex align-items-center">
                    <div class="bold">{{comment.author.fullname}}</div>
                    <div class="grey">~ {{comment.date|date("G:i d/m/Y ") }}</div> 
                </div>
            {% endif %}    
            <p>{{comment.content}}</p>
        </div>
        {% endfor %}
        </div>
    </div>


{% endblock %}