{% extends 'base.html.twig' %}


{% block body %}
<style>
    .content-wrapper { margin-bottom: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper{margin-top : 2rem; margin-bottom : 2rem;}
 a:visited, a:link{
color : black;
}
a:hover{
    color : darkslategrey;
}
.title{
    display : flex;
    justify-content: center;
    color : darkred;
    margin : 4vh;
    text-decoration : underline;
}
hr{
    background-color : grey;
}

</style>
<h1 class="title">
{% if (sport is defined) and (sport != "Autres") %}
{{sport}}
{% elseif (sport is defined) and (sport == "Autres") %}
Autres
{% else %}
Actualités
{% endif %}
</h1>
{% for article in articles %}
<hr/>

<div  class="example-wrapper container">
<a href="{{path("app_article", {id : article.id})}}">
<div  class="row container-article">
<div class="col-12">
<div class="row">
<div class="col-12 col-sm-9">
    <h1 id="title" style="display : flex; text-align : center; justify-content : center">{{article.title}}</h1>

<p style="color : grey"></p>
<p>{{article.description}}</p>
<p style="float:end">{{article.author.fullname}}</p>

</div>
<div class="col-sm-3 col-12 hidden-xs">
<image style="height : 14rem; width : 20rem;border-radius : 10px" src="{{asset('Upload/'~article.picture)}}">
</div>
</div>
</div>
</div>
</a>
</div>
{% endfor %}
{% endblock %}
