{% extends 'base.html.twig' %}


{% block body %}
<style>

a, a:hover, a:visited, a:active
{
	color:white;
	text-decoration:none;
}
    .example-wrapper { font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; display : flex; text-align : center }
    .articles-wrapper {margin-left : 10vw; margin-right : 10vw; display: grid;  }
    .article-wrapper {max-height :40vh ;border-top : 1px  solid black; border-radius : 10px; padding : 10px; width : 80vw; 
    }
.content{


    display : flex;
    text-align : center;
    justify-content : center;
    margin-bottom : 3vw
}
.image{
border-radius : 3px;
height : 50vh; 
width : 70%;

}
</style>

<div class="articles-wrapper">

<h1 class="content" style="display:flex; justify-content : center; margin-top : 4vh;">{{article.title}}</h1>

<div  class="row">
<div class="col-2">
</div>
<div class="col-8">
<image   class="image content" style="width : 100%"src="{{asset('Upload/'~article.picture)}}"></image>
</div>
<div class="col-2">
</div>
</div>
<p style="color : grey; ">Ecrit par {{article.author.fullname}} le {{date}} </p>


<h4 class="content">{{article.description}}</h4>
<div >


<p class="content" style="font-size : 1.3rem">{{article.content}}</p>
</div>
</div>
{% endblock %}