{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/profile.css')}}"/>
{% endblock %}


{% block body %}

<div class="wrapper-profile"> 
    <h1>{{ app.user.fullname }}</h1> 
	{% if is_granted("ROLE_ADMIN") %}
	<h2 class="text-grey">Admin</h2>
	{% elseif is_granted("ROLE_AUTHOR") %} 
	<h3 class="text-grey">Auteur</h3>
	{% endif %}
	<p class="mt-3">{{app.user.email}}</p>
	{% if is_granted("ROLE_AUTHOR") %}
	<div class="mb-4">
		{% if numberArticles > 1 %}
		<div>{{numberArticles}} articles publiés </div>
		{% elseif numberArticles == 1 %}
		<div>1 seul article publié</div>
		{% else %}
		<div>Aucun article publié</div>
		{% endif %}
	</div>
	<div >
		<a href="{{path('myarticles')}}"><button class="btn btn-success">Mes Articles</button></a>
	</div>
	{% if is_granted("ROLE_ADMIN") %}
	<div class="my-3">
		<a  href="{{path('app_admin', {role : "admin"})}}"><button class="btn btn-info">Administration</button></a>
	</div>
	{% endif %}
	{% endif %}
	<div>
		<a href="{{path('app_logout')}}"><button class="btn btn-danger">Déconnexion</button></a>
	</div>
</div>  
  {% endblock %}